html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.blur {
-webkit-filter: blur(3px);
-moz-filter: blur(3px);
filter: blur(3px);
}

.test{
	height: 100px;
	width: 100px;
	background: yellow;
	display: none;
}

.spinner{
	width: 30px; 
	height: 30px;
	background-image: url('../img/signup/spinner.gif');
	background-repeat: no-repeat;
	margin: 0 auto;
}

.centered{ 
  text-align:center;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}













