html,
body {
  height: 100%;
}

body {
  margin: 0;
}


.test{
	height: 100px;
	width: 100px;
	background: yellow;
	display: none;
}



.spinner{
	width: 30px; 
	height: 30px;
	background-image: url('../img/signup/spinner.gif');
	background-repeat: no-repeat;
	margin: 0 auto;
}

.centered{ 
  text-align:center;
}

.stats-value{
  text-align:center;
  font-size: 0.8em;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.player-stats-item {
  //border: 1px dotted green;
  //height: 35px;
  // width: 35px;
 margin: 0 10px;
}

#player-stats-container {
  border: 1px solid grey;
  border-radius: 20px;
  background: #eee;
  height: 50px;
  width: 300px;
  margin: 0 auto;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  display: none;
}

#player-stats-item-population-img{
  width: 20px;
  height: 20px;
  background-image: url(http://www.fillmurray.com/20/20);
  background-repeat: no-repeat;
}

#player-stats-item-food-img{
  width: 20px;
  height: 20px;
  background-image: url(http://www.fillmurray.com/20/20);
  background-repeat: no-repeat;
}

#player-stats-item-water-img{
  width: 20px;
  height: 20px;
  background-image: url(http://www.fillmurray.com/20/20);
  background-repeat: no-repeat;
}







